.contact-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-color: var(--clr-bg) !important;
}

.contact-heading {
  color: var(--clr-txt) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.contact-form label {
  color: var(--clr-txt) !important;
}
.contact-form input,
.contact-form textarea {
  background: transparent !important;
  color: var(--clr-txt) !important;
  border: 1px solid var(--clr-primary) !important;
}

.hidden {
  display: none !important;
}
